@model UpravljanjeProjektima.Osoba

@{
    ViewBag.Title = "Unos nove osobe";
}

@using (Html.BeginForm())
{
	<div class="noviPodatak">
		<table>
			<tbody>
				<tr>
					<td>Ime</td>
					<td>@Html.EditorFor(o => o.ImeOsobe)</td>
				</tr>
				<tr>
					<td>Prezime</td>
					<td>@Html.EditorFor(o => o.PrezimeOsobe)</td>
				</tr>
				<tr>
					<td>OIB</td>
					<td>@Html.EditorFor(o => o.OIB)</td>
				</tr>
				<tr>
					<td>
						<a class="submit">Spremi</a>
					</td>
					<td>@Html.ActionLink("Odustani", "Index")</td>
				</tr>
			</tbody>
		</table>
	</div>
}


@{Html.RenderPartial("ValidationError");}
