@model UpravljanjeProjektima.Admin.Uloga

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
	<div class="noviPodatak">
		<table>
			<tbody>
				<tr>
					<td>Id uloge</td>
					<td>@Html.EditorFor(u => u.IdUloge)</td>
				</tr>
				<tr>
					<td>Naziv uloge</td>
					<td>@Html.EditorFor(u => u.NazUloge)</td>
				</tr>
				<tr>
					<td>
						<a class="submit">Spremi</a>
					</td>
					<td>@Html.ActionLink("Odustani", "Index")</td>
				</tr>
			</tbody>
		</table>
	</div>
}


@{Html.RenderPartial("ValidationError");}
